KAFKA_BOOTSTRAP_SERVERS=172.17.33.153:9092
KAFKA_TOPIC=ioc-events
KAFKA_GROUP_ID=thehive-socia
KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA_MAX_POLL_RECORDS=50
THEHIVE_URL=http://127.0.0.1:9000
THEHIVE_API_KEY=change-me
THEHIVE_ORG=IES Rafael Alberti
THEHIVE_ALLOWED_RULE_IDS=31151,31104,5763,40111,5758,5551
THEHIVE_DROP_RULE_IDS=31101,5760
THEHIVE_AGGREGATE_RULE_IDS=31151
THEHIVE_AGGREGATION_WINDOW_SECONDS=10
THEHIVE_AGGREGATION_MAX_EXAMPLES=20
VERIFY_SSL=false
LOG_LEVEL=INFO
